*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color:#434958;
}
body::-webkit-scrollbar{
    display: none;
}
h5{
    color: #FFFFFF
}

.caixaDePesquisa {
    display: flex;
    align-items: center;
    background-color: #6b6b6b; 
    border-radius: 50px;
    padding: 6px 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.caixaDePesquisa input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    padding: 5px;
    width: 150px;
}

.caixaDePesquisa input::placeholder {
    color: white;
    opacity: 0.5;
}

.caixaDePesquisa button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.caixaDePesquisa button img {
    width: 20px;
    height: 20px;
}
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#logoP {
    display: flex;
    margin-left: 755px;
    width: 180px;
    height: 180px;

}
#usuario{
    margin-left: 1510px;
    display: grid;
}
#carrinho{
    display: grid;
    margin-left: 1510px;
}
.user {
    display: flex;
    margin-left: 10px;
}
.bag{

    margin-left: 15px;
}
